// @import url('https://fonts.googleapis.com/css2? family = PT + Sans + Narrow & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');








$primary-color: #191516;
$secondary-color: #FEFEFF;
$third-color: #FE9000;
$color4: #3ed3cb;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'PT Sans Narrow', sans-serif;
    overflow-x:hidden;
   
    // cursor: url(/IMG/cursor.jpg);

    
}

// header

.head {
    width: 100%;
    height:50px;
    background: rgba(0, 0, 0, 0.582);
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head button {
    padding:10px;
    height:50px;
    background: transparent;
    border: none;

}
.head button:hover {
    background:black;
    
}

.head a {
   
    text-decoration: none;
    text-align: center;
    color: $color4;
    font-size: 2em;
    font-family: 'PT Sans Narrow', sans-serif;
    
}

.logo {
    font-size: 3em;
    color: $secondary-color;
    
    
}
span {
    color:$third-color;
    font-family: 'Pattaya', sans-serif;
}


a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

// section nom et prenom

#name {
    padding-top:80px;
    background-image: url(IMG/fond2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
   
}

    #name::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color:$primary-color;
        opacity: .7;
        z-index: -1;
        
    }
    
        #name h1 {
            display: block;
            width: fit-content;
            font-size: 4rem;
            position: relative;
            color:$secondary-color;
            

        }
        
         #name h2 {
 
            display: block;
            width: fit-content;
            font-size: 2rem;
            position: relative;
            color:$color4;
        
        } 

        #name .btn {
            display: inline-block;
            padding: 10px 30px;
            color:($third-color);
            background-color: transparent;
            border : 2px solid ($third-color);
            border-radius: 25px;
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: .1rem;
            margin-top: 30px;   
            transition: .3s ease;  
            transition-property: background-color, color;
            
        }
            #name .btn:hover {
                background-color: $third-color;
                color:$primary-color;
                

            }

#name .btn {
display: inline-block;
padding: 10px 30px;
color:($third-color);
background-color: transparent;
border : 2px solid ($third-color);
font-size: 2rem;
text-transform: uppercase;
letter-spacing: .1rem;
margin-top: 30px;


}

// typing
$bg: #1d1f20;
$text-color: #d7b94c;
$caret-color: white;
$text-length: 16;
$animation-time: 4s;
// Center content

// Basic style
h1 {
  font-family: 'Inconsolata', Consolas, monospace;
  font-size: 4em;
  color: $text-color;
}
// Typing style
.typing {
  position: relative;
  &::after {
    content: "|";
    position: absolute;
    right: 0;
    width: 100%;
    color: $caret-color;
    background: $bg;
    animation: typing $animation-time steps($text-length) forwards,
      caret 1s infinite;
  }
}
// Animation
@keyframes typing {
  to { width: 0 }
}
@keyframes caret {
  50% { color: transparent }
}

.img {
    background: transparent;
    filter: grayscale(1);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;

}

.img img {
    margin:10px;
    margin-top: 100px;
    opacity: .6;
}


// fin section nom et prenom


// section à propos


#about {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.portrait img{
    margin: 50px;
    border-radius: 5px;
    border: 3px solid $color4;
   
    
}
.texte h2{
    
    font-size:6em;
    text-shadow: 3px 3px 7px $primary-color;
    color: $third-color;
    
    
    
}

.texte p{
    margin: 50px;
    font-size: 3em;
    
}

// Fin de section A propos

// Section Mes Skills



.skills {
    min-height: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    animation: slide 17s linear 0s infinite normal forwards;

    @keyframes slide {
    

        0% {
         
          transform: translateX(100%);
    

        }
        45% {
            transform: translateX(0);
        }
        // 50% {
        //     transform: translateX(0);
        // }
        55% {
            transform: translateX(0);
            
        }
        100% {
         
          transform: translateX(-100%);
         

        }
      }
    
}


   
    // Fin section mes skills

    // Section Mes projets

    #projet  h2{
        margin:80px;
        font-size:6em;
        text-shadow: 2px 2px 4px $secondary-color;
        color: $color4;
        display: flex;
        justify-content: center;
        
        
        
    }

    #projet {
        min-height: 100vh;
        background-image: url(IMG/fond3.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        
    }
    .projets {
        display: flex;
        justify-content: space-around;
    }

    .flip-box {
        margin-top: 100px;
        width: 440px;
        height: 280px;
        perspective: 500px;
    }

    .flip-box-inner {
        position: relative;
        width: 100%;
        height:100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-box-front1 {
        background-image: url(IMG/projet1.png);
        background-size: cover;
        background-position: center;
        border: 3px solid $color4;

        
    }
    .flip-box-front2 {
        background-image: url(IMG/projet2.png);
        background-size: cover;
        background-position: center;
        border: 3px solid $color4;

       
        
    }
    .flip-box-front3 {
        background-image: url(IMG/projet3.png);
        background-size: cover;
        background-position: center;
        position: relative;
        border: 3px solid $color4;
        
    }
    .flip-box-back {
        background-color: rgba(54, 54, 63, 0.438);
        color: white;
        font-size: 2em;
        margin: 20px;
        transform:rotateY(180deg);
    }

    .flip-box-back h3{
        font-size: 2.5em;
        color: $color4;
    }

    .flip-box-back button{
        border:3px solid $color4;
        border-radius: 15px;
        background: transparent;
        color: white;
        font-size: 1.2em;
        height: 40px;
        width: 80px;
        cursor: pointer;
        transition: .3s ease;  
        transition-property: background-color, color;
            
        }
            .flip-box-back button:hover {
                background-color: $color4;
                color:$primary-color;
                

            }
    



    .flip-box-front1, .flip-box-front2, .flip-box-front3, .flip-box-back {
        backface-visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
    }

//    Fin Section Projets

// Section Parcours

#parcours {
        min-height: 100vh;
        background-color:$secondary-color;
        background-size: cover;
        background-position: center;
        position: relative;
        display: block;
        justify-content: center;
        text-align: center;

}

.parcours h2{
    padding-top: 80px;
    
    margin:20px;
    font-size:6em;
    text-shadow: 3px 3px 7px $primary-color;
    color: $third-color;
    
    
    
}

.box-timeline {

	width: 100%;
	height:2100px;
	// background : #f1f1f1;
	position: relative;
	padding : 80px 0 250px 0;
	margin-bottom: 100px;

}

.ligne {
	height:1918px;
	width: 8px;
	margin : 0 auto;
	background : #333;
}

.rond {
	width : 80px;
	height: 80px;
	border-radius : 50%;
	background : #333;
	position : absolute;
	border : 3px solid $color4;
	left : 50%;
	transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.r1 {top:80px;}
.r2 {top:386px;}
.r3 {top:692px;}
.r4 {top:1000px;}
.r5 {top:1306px;}
.r6 {top:1612px;}
.r7 {top:1918px;}

.box {

	color : grey;
	width:400px;
	min-height:200px;
	padding:20px;
	border-radius:3px;
	height: auto;
	// background:#f1f1f1;
	box-shadow: 0 10px 15px rgba(0,0,0,0.5);
	position: absolute;
	left:50%;
	transform: translate(-50%);
}

.b1{
	top:80px;
	left: calc(50% + 270px);
}
.b2{
	top:386px;
	left: calc(50% - 270px);
}
.b3{
	top:692px;
	left: calc(50% + 270px);
}
.b4{
	top:1000px;
	left: calc(50% - 270px);
}
.b5{
	top:1306px;
	left: calc(50% + 270px);
}
.b6{
	top:1612px;
	left: calc(50% - 270px);
}
.b7{
	top:1918px;
	left: calc(50% + 270px);
}

.box p {
	line-height: 20px;
	font-size: 18px;
	margin: 10px 0 20px 0;
}

.lien {
	display: block;
	background: midnightblue;
	padding: 10px;
	width: 120px;
	text-align: center;
	color: #f1f1f1;
    text-decoration: none;
	border-radius: 3px;
    border: 3px solid $color4;
	margin-top: 10px;
}

// Fin section Parcours

// Section Contact

.contact {
        // background-size: cover;
        // background-position: center;
        // position: relative;
    min-height: 100vh;
    width:100%;
    display: flex;
    background-image:url(IMG/fond13.jpg);
    background-position: center;

    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}

.contact h2{
    
    font-size:6em;
    text-shadow: 3px 3px 7px $primary-color;
    color: $color4; 
    
}

textarea {
    height: 270px;
    width:270px;
    border: 3px solid $color4;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2em;
    // color: rgba(131, 48, 48, 0.603);
    background-color: rgba(0, 0, 0, 0.404);
    resize: none;
    border-radius: 15px;
    color:$secondary-color;
    

}

::placeholder {
    color: $secondary-color;
}

input {
    width: 270px;
    height: 30px;
    border: 3px solid $color4;
    font-size:2em;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 15px;
    color:$secondary-color;

    
}

.valider {
    width: 180px;
    height:70px;
    border: 3px solid $color4;
    font-size: 3em;
   
   
   
    color:$color4;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;   
    transition: .3s ease;  
    transition-property: background-color, color;
    
}
    .valider:hover {
        background-color: $color4;
        color:$primary-color;
        cursor: pointer;
        

    }

    // Fin section contact

    // Footer
    .footer p{
        display: flex;

        background-color:$primary-color;
        justify-content: center;
        align-items: center;
        color: $secondary-color;
        

    }


   
    @media screen and (max-width:1000px) {

        // header
        .head {
            height:80px;
            justify-content: center;
            padding-bottom:25px;

            
            
        }
        


        .logo {
            overflow: hidden;
        }

        // section  a propos

        #about {
            flex-direction: column;
        }

        // section skills
        .skills {
        flex-flow: wrap;
        }


        
        // section projets

        .projets {
            flex-direction: column;
            align-items: center;
            padding-bottom: 3*40px;
        }

        .flip-box {
            width:400px;
            margin-left:10px;
            margin-right:10px;

        }
        .flip-box-back {
            padding:10px;
            margin-left:10px;
            margin-right:10px;
        }


        // section parcours
        .ligne {
            position:relative;
            left:190px;
            height: 1880px;
    
        }
    
        .rond {
            left:calc(50% + 190px);
            height: 50px;
            width: 50px;
        }
    
        .box {
            left:calc(50% - 40px);
            width:350px;
        }
    }
 
