@import url("https://fonts.googleapis.com/css2? family = PT + Sans + Narrow & display = swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#name {
  background-image: url(IMG/fond2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

#name::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #191516;
  opacity: .7;
  z-index: -1;
}

#name h1 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: #FEFEFF;
}

#name h2 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  position: relative;
  color: #3ed3cb;
}

#name .btn {
  display: inline-block;
  padding: 10px 30px;
  color: #FE9000;
  background-color: transparent;
  border: 2px solid #FE9000;
  border-radius: 25px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

#name .btn:hover {
  background-color: #FE9000;
  color: #191516;
}

#name .btn {
  display: inline-block;
  padding: 10px 30px;
  color: #FE9000;
  background-color: transparent;
  border: 2px solid #FE9000;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portrait img {
  margin: 50px;
  border-radius: 5px;
  border: 3px solid #3ed3cb;
}

.texte h2 {
  font-size: 6em;
  text-shadow: 3px 3px 7px #191516;
  color: #FE9000;
}

.texte p {
  margin: 50px;
  font-size: 3em;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-animation: slide 17s linear 0s infinite normal forwards;
          animation: slide 17s linear 0s infinite normal forwards;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(1600px);
            transform: translateX(1600px);
  }
  45% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  55% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(1600px);
            transform: translateX(1600px);
  }
  45% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  55% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }
}

#projet h2 {
  font-size: 6em;
  color: #3ed3cb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projet {
  background-image: url(/IMG/fond3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.projets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flip-box {
  width: 420px;
  height: 260px;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-box-front1 {
  background-image: url(/IMG/projet1.png);
  background-size: cover;
  background-position: center;
}

.flip-box-front2 {
  background-image: url(/IMG/projet2.png);
  background-size: cover;
  background-position: center;
}

.flip-box-front3 {
  background-image: url(/IMG/projet3.png);
  background-size: cover;
  background-position: center;
}

.flip-box-back {
  background-color: rgba(54, 54, 63, 0.438);
  color: white;
  margin: 20px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-box-front1, .flip-box-front2, .flip-box-front3, .flip-box-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-box:hover .flip-box-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.parcours h2 {
  font-size: 6em;
  text-shadow: 3px 3px 7px #191516;
  color: #FE9000;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(/IMG/fond5.jpg);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact h2 {
  font-size: 6em;
  text-shadow: 3px 3px 7px #191516;
  color: #FE9000;
}

textarea {
  height: 270px;
  width: 270px;
  border: 3px solid #3ed3cb;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2em;
  background-color: transparent;
  resize: none;
  border-radius: 15px;
  color: #FEFEFF;
}

::-webkit-input-placeholder {
  color: #FEFEFF;
}

:-ms-input-placeholder {
  color: #FEFEFF;
}

::-ms-input-placeholder {
  color: #FEFEFF;
}

::placeholder {
  color: #FEFEFF;
}

input {
  width: 270px;
  height: 30px;
  border: 3px solid #3ed3cb;
  font-size: 2em;
  background-color: transparent;
  border-radius: 15px;
  color: #FEFEFF;
}

.valider {
  width: 180px;
  height: 70px;
  border: 3px solid #FE9000;
  font-size: 3em;
  color: #FE9000;
  background-color: transparent;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.valider:hover {
  background-color: #FE9000;
  color: #191516;
  cursor: pointer;
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(/IMG/fond3.jpg);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */