@import url("https://fonts.googleapis.com/css2? family = Pattaya & display = swap");
@import url("https://fonts.googleapis.com/css2? family = Mate + SC & display = swap");
.flip-box-front1, .flip-box-front2, .flip-box-front3, .flip-box-front {
  background-size: cover;
  background-position: center;
  border: 3px solid #3ed3cb;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: url(test.png), auto;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #191516;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #3ed3cb;
  /* creates padding around scroll thumb */
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(0, 0, 0, 0.58);
}

.brand h1 {
  margin-left: 20px;
  color: white;
  font-family: 'Mate SC', serif;
}

.brand a {
  text-decoration: none;
}

.brand span {
  color: #FE9000;
  font-family: 'Pattaya', sans-serif;
}

#header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  overflow-x: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .5s ease left;
  transition: .5s ease left;
}

#header .nav-list ul.open {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #3ed3cb;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.089);
  font-size: 8rem;
  letter-spacing: 50px;
  z-index: -1;
  -webkit-transition: .3s ease letter-spacing;
  transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  z-index: 100;
  display: inline-block;
  border: 3px solid #3ed3cb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#header .hamburger .bar {
  height: 4px;
  width: 30px;
  position: relative;
  background-color: #3ed3cb;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  z-index: -1;
  border-radius: 5px;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #3ed3cb;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  border-radius: 5px;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.open .bar::before {
  bottom: 0;
}

#header .hamburger.open .bar::after {
  top: 0;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#name {
  padding-top: 80px;
  background-image: url(IMG/fond2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

#name::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #191516;
  opacity: .7;
  z-index: -1;
}

#name h1 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: #FEFEFF;
}

#name h2 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  position: relative;
  color: #3ed3cb;
}

#name .btn {
  display: inline-block;
  padding: 10px 30px;
  color: #FE9000;
  background-color: transparent;
  border: 2px solid #FE9000;
  border-radius: 25px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

#name .btn:hover {
  background-color: #FE9000;
  color: #191516;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Inconsolata', Consolas, monospace;
  font-size: 4em;
  color: #d7b94c;
}

.typing {
  position: relative;
}

.typing::after {
  content: "|";
  position: absolute;
  right: 0;
  width: 100%;
  color: white;
  background: #1d1f20;
  -webkit-animation: typing 4s steps(16) forwards, caret 1s infinite;
          animation: typing 4s steps(16) forwards, caret 1s infinite;
}

@-webkit-keyframes typing {
  to {
    width: 0;
  }
}

@keyframes typing {
  to {
    width: 0;
  }
}

@-webkit-keyframes caret {
  50% {
    color: transparent;
  }
}

@keyframes caret {
  50% {
    color: transparent;
  }
}

.img {
  background: transparent;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}

.img img {
  margin: 10px;
  margin-top: 100px;
  opacity: .6;
}

#about {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portrait img {
  margin: 50px;
  border-radius: 5px;
  border: 3px solid #3ed3cb;
}

.texte h2 {
  font-size: 6em;
  text-shadow: 3px 3px 7px #191516;
  color: #FE9000;
}

.texte p {
  margin: 50px;
  font-size: 3em;
}

.skills {
  min-height: 10vh;
  margin-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-animation: slide 17s linear 0s infinite normal forwards;
          animation: slide 17s linear 0s infinite normal forwards;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  45% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  55% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  45% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  55% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

#projet h2 {
  margin: 80px;
  font-size: 6em;
  text-shadow: 2px 2px 4px #FEFEFF;
  color: #3ed3cb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projet {
  min-height: 100vh;
  background-image: url(IMG/fond3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.projets {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 40px;
  margin-top: 0px;
}

.flip-box {
  margin-top: 100px;
  width: 440px;
  height: 280px;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-box-front1 {
  background-image: url(IMG/projet1.png);
}

.flip-box-front2 {
  background-image: url(IMG/projet2.png);
}

.flip-box-front3 {
  background-image: url(IMG/projet3.png);
}

.flip-box-back {
  background-color: rgba(54, 54, 63, 0.438);
  color: white;
  font-size: 2em;
  margin: 20px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-box-back h3 {
  font-size: 2.5em;
  color: #3ed3cb;
}

.flip-box-back button {
  border: 3px solid #3ed3cb;
  border-radius: 15px;
  background: transparent;
  color: white;
  font-size: 1.2em;
  height: 40px;
  width: 80px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.flip-box-back button:hover {
  background-color: #3ed3cb;
  color: #191516;
}

.flip-box-front, .flip-box-front1, .flip-box-front2, .flip-box-front3, .flip-box-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-box:hover .flip-box-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#parcours {
  min-height: 100vh;
  background-color: #FEFEFF;
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.parcours h2 {
  padding-top: 80px;
  margin: 20px;
  font-size: 6em;
  text-shadow: 3px 3px 7px #191516;
  color: #FE9000;
}

.box-timeline {
  width: 100%;
  height: 2100px;
  position: relative;
  padding: 80px 0 250px 0;
  margin-bottom: 100px;
}

.ligne {
  height: 1918px;
  width: 8px;
  margin: 0 auto;
  background: #333;
}

.rond {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #333;
  position: absolute;
  border: 3px solid #3ed3cb;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.r1 {
  top: 80px;
}

.r2 {
  top: 386px;
}

.r3 {
  top: 692px;
}

.r4 {
  top: 1000px;
}

.r5 {
  top: 1306px;
}

.r6 {
  top: 1612px;
}

.r7 {
  top: 1918px;
}

.box {
  color: grey;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  border-radius: 3px;
  height: auto;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.b1 {
  top: 80px;
  left: calc(50% + 270px);
}

.b2 {
  top: 386px;
  left: calc(50% - 270px);
}

.b3 {
  top: 692px;
  left: calc(50% + 270px);
}

.b4 {
  top: 1000px;
  left: calc(50% - 270px);
}

.b5 {
  top: 1306px;
  left: calc(50% + 270px);
}

.b6 {
  top: 1612px;
  left: calc(50% - 270px);
}

.b7 {
  top: 1918px;
  left: calc(50% + 270px);
}

.box p {
  line-height: 20px;
  font-size: 18px;
  margin: 10px 0 20px 0;
}

.lien {
  display: block;
  background: midnightblue;
  padding: 10px;
  width: 120px;
  text-align: center;
  color: #f1f1f1;
  text-decoration: none;
  border-radius: 3px;
  border: 3px solid #3ed3cb;
  margin-top: 10px;
}

.contact {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(IMG/fond13.jpg);
  background-position: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact h2 {
  font-size: 6em;
  text-shadow: 3px 3px 7px #191516;
  color: #3ed3cb;
}

textarea {
  height: 270px;
  width: 270px;
  border: 3px solid #3ed3cb;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.404);
  resize: none;
  border-radius: 15px;
  color: #FEFEFF;
}

::-webkit-input-placeholder {
  color: #FEFEFF;
}

:-ms-input-placeholder {
  color: #FEFEFF;
}

::-ms-input-placeholder {
  color: #FEFEFF;
}

::placeholder {
  color: #FEFEFF;
}

input {
  width: 270px;
  height: 30px;
  border: 3px solid #3ed3cb;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 15px;
  color: #FEFEFF;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.valider {
  width: 180px;
  height: 70px;
  border: 3px solid #3ed3cb;
  font-size: 3em;
  color: #3ed3cb;
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.valider:hover {
  background-color: #3ed3cb;
  color: #191516;
  cursor: pointer;
}

.footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #191516;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FEFEFF;
}

.logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.logout img {
  height: 100px;
  width: 80px;
}

.admin {
  background: rgba(128, 128, 128, 0.733);
}

.admin_space h1 {
  width: auto;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6em;
  color: #191516;
}

.connect {
  padding: 80px;
  margin: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.connexion input {
  height: 50px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user {
  cursor: pointer;
}

.user:hover {
  background-color: #3ed3cb;
}

.sommaire {
  background-color: grey;
}

.sommaire_titre h1 {
  width: auto;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6em;
  color: #191516;
}

section .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6em;
  text-shadow: 3px 3px 7px #191516;
  color: #FE9000;
}

.sommaire_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  gap: 50px;
}

.sommaire_button button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
}

.form_php {
  background: grey;
}

.titre_php h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 6em;
  color: black;
  margin: 80px;
}

label {
  font-size: 2em;
}

.upload {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upload input {
  border: 1px solid #3ed3cb;
  padding: 5px;
}

.upload button {
  height: 50px;
  width: 100px;
  font-size: 20px;
  background-color: chartreuse;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.titre_modif h1 {
  margin: 100px;
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modif_projet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.titre_modif h2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.retour a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 100px;
  font-size: 3em;
  text-decoration: underline;
}

.gestprojet {
  background: grey;
}

.titre_modif h1 {
  color: black;
}

.titre_modif {
  font-size: 3em;
}

.btnmodif {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.btnmodif button {
  height: 50px;
  width: 150px;
  font-size: 20px;
}

.mod {
  background: rgba(255, 166, 0, 0.699);
  border: none;
  border-radius: 10px;
}

.mod:hover {
  background: rgba(255, 166, 0, 0.904);
}

.sup {
  background: rgba(255, 0, 0, 0.658);
  border: none;
  border-radius: 10px;
}

.sup:hover {
  background: rgba(255, 0, 0, 0.904);
}

.mod a, .sup a {
  color: white;
}

.php_modif h1 {
  color: black;
  font-size: 5em;
}

.php_modif {
  background: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulaire_modif .return {
  background: #b1a7a7;
}

@media screen and (max-width: 1000px) {
  .head {
    height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 25px;
  }
  .logo {
    overflow: hidden;
  }
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .projets {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 120px;
  }
  .flip-box {
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .flip-box-back {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .ligne {
    position: relative;
    left: 190px;
    height: 1880px;
  }
  .rond {
    left: calc(50% + 190px);
    height: 50px;
    width: 50px;
  }
  .box {
    left: calc(50% - 40px);
    width: 350px;
  }
}

.contact h2 {
  margin: 80px;
}

@media only screen and (min-width: 1200px) {
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
    margin-left: 5px;
  }
  #header .nav-list ul li a {
    font-size: 2rem;
  }
  #header .nav-list ul li a:hover {
    background: black;
  }
  #header .nav-list ul a:hover {
    color: #FE9000;
  }
  #header .nav-list ul a::after {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */